@import url('https://fonts.googleapis.com/css?family=Special+Elite');
@import url('https://fonts.googleapis.com/css?family=Bungee+Outline');


body {
  margin-left: 0;
  padding: 0;
  /*font-family: sans-serif;*/
  font-family: 'Special Elite', cursive;
}

input {
    height: 2.5vw;
    width: 25vw;
    border-radius: 2px;
    border: 2px solid gray;
}

button {
    height: 2vw;
    width: 15vw;
    font-size: 1em;
    border-radius: 3px;
    background-color: white;
    border: 2px solid gray;
    margin-top: 0.3vw;
}

.navbar{
    display: inline;
    position:fixed;
    top: 0;
    width: 100%;
    height: 8vh;
    background-color: white;
    padding-left: 2vw;
    opacity: 0.9;
}

.products{
  float: left;
  width: 33%;
  margin: 0vw;
  text-align: center;
}

.cover{
    /*width: 100%;*/
    width: 30vw;
    height: 30vw;
}

.page{
  margin-top: 4vw;
  padding-top: 1vw;

}

.logopic{
    background-image: url('../public/media/vinyl2.jpg');
    width: 100%;
    height: 810px;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

.logotext{
    text-align: center;
    /*font-family: 'Monoton', cursive;*/
    font-family: 'Bungee Outline', cursive;
    font-size: 6em;
    position: absolute;
    color: #FFFFFF;
    bottom: 25vw;
    left: 32vw;
}

.logotext2{
    color: #FFFFFF;
    /*font-family: 'Monoton', cursive;*/
    font-family: 'Bungee Outline', cursive;
    position: absolute;
    font-size: 4em;
    bottom: 22vw;
    left: 26vw;
}

.detailPic{
  float: left;
  margin-top: 10vw;
  margin-left: 15vw;
  margin-right: 10vw;
  height: 500px;
}

.description{
  margin-top: 10vw;
  float: left;
  width: 40%;
}

.signup{
    align-items: center;
    margin-top: 8vw;
    margin-left: 10vw;
}

.topRight{
  float: right;
}

.products{
    margin-top: 1vw;
}

.products button{
  float: right;
}

.products h4{
  float: left;
}

.loginform{
    display: inline;
    float:right;
    margin-right: 12vw;
    margin-top: 2vw;
}

.logout{
    float: right;
    margin-right: 12vw;
    margin-top: 0.8vw;
}

.logoutbutton{
    margin-right: 1vw;
}

.passlogin{
    margin-right: 2vw;
}

.login{
    align-items: center;
    margin-top: 8vw;
    margin-left: 10vw;
}

.loginSignup{
    float: right;
    margin-right: 12vw;
    display: inline;
    margin-top: 2vw;
}

.loginSignup p {
    float:left;
    margin: 5px;
}

.shoppingCart{
    margin-top: 10vw;
    margin-left: 10vw;
}
